@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.navbar {
  z-index: 1;
  background-color: white; }
  .navbar .navbar-brand, .navbar .navbar-collapse .buttons {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation-delay: 0.4s; }
    .navbar .navbar-brand img, .navbar .navbar-collapse .buttons img {
      height: 50px;
      width: 50px; }
    .navbar .navbar-brand h1, .navbar .navbar-collapse .buttons h1 {
      font-size: 25px;
      font-weight: bolder;
      color: black; }
      .navbar .navbar-brand h1 .main-color, .navbar .navbar-collapse .buttons h1 .main-color {
        color: #df928e; }
  .navbar .navbar-toggler {
    color: #df928e; }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(1) {
    animation-delay: 0.4s; }
  .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(2) {
    animation-delay: 0.8s; }
  .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(3) {
    animation-delay: 1.2s; }
  .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(4) {
    animation-delay: 1.6s; }
  .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(5) {
    animation-delay: 2s; }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px; }
  .logo img {
    height: 50px;
    width: 50px; }
  .logo h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black; }
    .logo h1 span {
      color: #df928e; }

.mainImg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/hero-home.webp);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.hero-home .titulo-main {
  font-size: 70px;
  font-weight: bolder;
  color: white; }

.nosotros {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nosotros .titulo-nosotros h3 {
    border-bottom: 3px solid #df928e;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: black; }
    .nosotros .titulo-nosotros h3 span {
      color: #df928e; }
  .nosotros .card-nosotros {
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    background-color: #df928e;
    border: none; }
    .nosotros .card-nosotros:hover {
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transform: translateY(-10px); }
    .nosotros .card-nosotros .card-title-nosotros {
      font-size: 25px;
      font-weight: bolder;
      color: black;
      margin-top: 10px;
      text-align: center; }
    .nosotros .card-nosotros .card-nosotros-img {
      height: 70px;
      width: 70px; }

.nuevos-destinos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/nuevosDestinos.webp);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nuevos-destinos h3 {
    font-size: 30px;
    font-weight: bolder;
    color: white; }

.opinion-clientes {
  background-color: #df928e; }
  .opinion-clientes .card {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: 0.5s; }
    .opinion-clientes .card:hover {
      cursor: pointer;
      box-shadow: #26394d 0px 20px 30px -10px;
      transform: translateY(10px); }
    .opinion-clientes .card .texto .comillas {
      height: 70px;
      width: 70px;
      font-size: 70px;
      font-weight: normal;
      color: #df928e;
      display: flex;
      align-items: center;
      justify-content: center; }
    .opinion-clientes .card .pie {
      display: flex;
      justify-content: space-between; }
      .opinion-clientes .card .pie .text .nombre {
        font-size: 20px;
        font-weight: bolder;
        color: black; }
      .opinion-clientes .card .pie .text .estrellas {
        font-size: 20px;
        font-weight: normal;
        color: #df928e; }
        .opinion-clientes .card .pie .text .estrellas span {
          color: black;
          padding-left: 10px; }
      .opinion-clientes .card .pie img {
        height: 90px;
        width: 90px; }

.hero-destinos .text {
  -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .hero-destinos .text h2 {
    font-size: 50xp;
    font-weight: bolder;
    color: #df928e; }
  .hero-destinos .text .redes .red {
    font-size: 20px;
    font-weight: normal;
    color: #df928e; }

.hero-destinos .imagen {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both; }
  .hero-destinos .imagen img {
    height: 550px;
    width: 550px; }

.hero-destinos .decoracion {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  width: 600px; }
  .hero-destinos .decoracion img {
    width: 100%; }

.titulo-card-destinos {
  font-size: 35px;
  font-weight: bolder;
  color: #df928e; }

.card-destinos {
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px; }
  .card-destinos:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  .card-destinos .card-body {
    padding: 10px; }
    .card-destinos .card-body .card-title {
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: bolder;
      color: #df928e; }
    .card-destinos .card-body .valoracion i {
      font-size: 20px;
      font-weight: normal;
      color: #df928e; }

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1; } }

@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1; } }

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.wrap-ofertas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/hero-ofertas.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .wrap-ofertas .hero-ofertas {
    -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .wrap-ofertas .hero-ofertas .parrafo1 {
      letter-spacing: 3px; }
    .wrap-ofertas .hero-ofertas p {
      font-size: 22px; }
    .wrap-ofertas .hero-ofertas h2 {
      font-size: 50px;
      font-weight: bolder;
      color: white; }
    .wrap-ofertas .hero-ofertas .oferta {
      border-radius: 5px;
      border: 2px solid #df928e;
      background-color: #df928e;
      padding: 10px 20px;
      width: 400px; }
    .wrap-ofertas .hero-ofertas .secondary-btn {
      font-size: 18px;
      letter-spacing: 1px;
      transition: .5s; }
      .wrap-ofertas .hero-ofertas .secondary-btn:hover {
        color: white; }

.bg {
  background-color: #ffd6ff; }
  .bg .mejores-ofertas .titulo {
    font-size: 40px;
    font-weight: bolder;
    color: #df928e; }
  .bg .mejores-ofertas .card {
    transition: .8s; }
    .bg .mejores-ofertas .card:hover {
      cursor: pointer;
      transform: translateY(-10px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; }
    .bg .mejores-ofertas .card .titulo {
      font-size: 35px;
      font-weight: bolder;
      color: white;
      transition: .5s; }
      .bg .mejores-ofertas .card .titulo:hover {
        color: #df928e; }
    .bg .mejores-ofertas .card .precio {
      font-size: 25px;
      font-weight: bolder;
      color: white; }
  .bg .mejores-ofertas .internet, .bg .mejores-ofertas .suite, .bg .mejores-ofertas .exterior {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/internet.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .bg .mejores-ofertas .suite {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/camarote-suite.webp"); }
  .bg .mejores-ofertas .exterior {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/camarote-exterior.webp"); }

.crucero-corto {
  display: flex;
  align-items: center;
  justify-content: center; }
  .crucero-corto .titulo-crucero-corto {
    font-size: 40px;
    font-weight: bolder;
    color: #df928e; }
  .crucero-corto button {
    width: 300px; }

.hero-cruceros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/hero-cruceros.webp");
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .hero-cruceros .titulo-hero-cruceros {
    font-size: 50px;
    font-weight: bolder;
    color: #df928e; }

.crucero .nombre-crucero {
  border-bottom: 10px solid #df928e;
  font-size: 50px; }

.proximamente {
  background-color: #ffd6ff; }
  .proximamente .titulo-proximamente {
    display: flex;
    align-items: center;
    justify-content: center; }
    .proximamente .titulo-proximamente .titulo {
      font-size: 50px;
      font-weight: bolder;
      color: #df928e; }

.titulo {
  font-size: 40px;
  font-weight: bolder;
  color: #df928e; }

.card {
  transition: .5s; }
  .card:hover {
    cursor: pointer;
    transform: translateY(-10px); }
  .card .card-body .card-title {
    font-size: 30px;
    font-weight: bolder;
    color: #df928e;
    text-align: center; }
  .card .card-body i {
    font-size: 20px;
    font-weight: normal;
    color: #df928e; }

.bg {
  background-color: #ffd6ff;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  .bg .contactanos {
    background-color: white; }
    .bg .contactanos h3 {
      color: #df928e;
      border-bottom: 1px solid #df928e; }
    .bg .contactanos form label {
      color: #df928e; }
    .bg .contactanos form input,
    .bg .contactanos form textarea {
      border: 1px solid #df928e;
      outline: none; }
  .bg .buscanos {
    background-color: #df928e; }
    .bg .buscanos h4 {
      color: white; }
    .bg .buscanos i,
    .bg .buscanos .redes {
      font-size: 20px; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-thumb {
  border: 3px solid white;
  background: #df928e;
  border-radius: 100vw; }

.item {
  position: relative; }
  .item::after {
    content: "";
    background-color: #df928e;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s; }
  .item:hover::after {
    width: 100%; }

.main-btn {
  color: #df928e;
  font-weight: bolder;
  border: 2px solid #df928e;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: transparent;
  transition: .5s; }
  .main-btn:hover {
    background-color: #df928e;
    color: white; }

.secondary-btn {
  color: white;
  font-weight: bolder;
  border: 2px solid #df928e;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #df928e;
  transition: .5s; }
  .secondary-btn:hover {
    background-color: transparent;
    color: #df928e; }

.footer {
  background-color: #ffd6ff;
  border-top: 2px solid white; }
  .footer .links h3 {
    font-size: 30px;
    font-weight: bolder;
    color: #df928e; }
  .footer .links a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px; }
  .footer .contactos h3 {
    font-size: 30px;
    font-weight: bolder;
    color: #df928e; }
  .footer .contactos i {
    font-size: 20px;
    color: #df928e; }
  .footer .redes .red {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s; }
    .footer .redes .red:hover {
      transform: translateY(-10px); }
  .footer .suscripcion h3 {
    font-size: 30px;
    font-weight: bolder;
    color: #df928e; }
  .footer .suscripcion input {
    padding: 10px;
    border: 2px solid #df928e;
    border-radius: 25px;
    outline: none;
    background-color: transparent; }
  .footer .suscripcion button {
    width: 100px; }
  .footer .copyright {
    border-top: 2px solid #df928e;
    padding-top: 20px;
    text-align: center; }

.red-facebook {
  background-color: #3b5998; }

.red-twitter {
  background-color: #1da1f2; }

.red-instagram {
  background-color: #c32aa3; }

.red-whatsapp {
  background-color: #25d366; }
