@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: black;
    color: white;
}

/*------------- HEADER---------------*/
.mainImg-home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/HOME/main3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main-color {
    color: #48cae4;
}

.secondary-color {
    color: #1d3557;
}

/*------------- HERO---------------*/
.titulo-main {
    font-size: 70px;
    transition: .5s;
}

.titulo-main:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
    cursor: pointer;
}

/*------------- PORQUE NOSOTROS---------------*/

.active {
    color: #48cae4 !important;
}

.card-nosotros {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

.card-nosotros:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ajuste-img {
    height: 70px;
    width: 70px;
}

/*------------- PROPAGANDA NUEVOS DESTNOS----------------*/

.nuevos-destinos {
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/HOME/nuevosDestinos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*------------- PAGE DESTINOS----------------*/
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mainImg-destinos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/DESTINOS/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

/*------------- MAIN (OFERTAS)----------------*/

.mainImg-ofertas {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/OFERTAS/main.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*------------- PAQUETE DE TRAGOS E INTERNET----------------*/
.carousel-item {
    height: 80vh;
    object-fit: cover;
}


/*------------- PAGES CONTACTOS----------------*/

.mainImg-contactos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/CONTACTOS/bg-contactos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
    position: relative;
}



/*------------- PAGES CRUCEROS----------------*/

.mainImg-cruceros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/CRUCEROS/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh
}

/*-------------        FOOTER       ----------------*/

.footer {
    height: 300px;
    background-color: #091629 !important;
}

/*-------------        MEDIA QUERIAS 768PX     ----------------*/

@media screen and (max-width: 768px) {
    /*-------------      PAGINA HOME   ----------------*/

    .hero {
        width: 80% !important;
    }

    .hero .container h2 {
        font-size: 75px;
    }

        /*-------------      PAGINA OFERTAS   ----------------*/

    .tragosInternet {
        flex-wrap: wrap;
        row-gap: 20px;
    }

        /*-------------      PAGINA OFERTAS   ----------------*/

    .mainImg-contactos {
        height: 200vh;
    }

    /*-------------      PAGINA OFERTAS   ----------------*/

    .footer {
        height: 520px;
    }
}

/*-------------        MEDIA QUERIAS 480PX     ----------------*/

@media screen and (max-width: 480px) {
    
        /*-------------      PAGINA HOME   ----------------*/
    .hero .container h2 {
        font-size: 48px
    }
    .hero .container p {
        font-size: 14px;
    }

        /*-------------      FOOTER      ----------------*/

    .footer {
        height: 520px;
    }

    /*-------------        PAGINA CONTACTOS     ----------------*/

    .mainImg-contactos {
        height: 200vh;
    }
} 
    /*-------------        ANIMISTA     ----------------*/

.nav-link,
.navbar-brand{-webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}

@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.scale-in-bottom{-webkit-animation:scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes scale-in-bottom{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:1}}@keyframes scale-in-bottom{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:1}}