.hero-cruceros {
    background: rgb(255,214,255);
    background: linear-gradient(90deg, rgba(255,214,255,1) 0%, rgba(208,167,165,1) 22%, rgba(223,146,142,1) 57%, rgba(176,108,105,1) 92%);

    h2 {
        font-size: 35px;
        font-weight: bolder;
        color: white;
        text-align: center;
    }

    img {
        height: 400px;
    }

    .body {
        img {
            height: 50px;
        }
        p {
            font-size: 20px;
            color: white;
        }
    }
}

.proximamente {
    background-color: $pink;

    .titulo-proximamente {
        display: flex;
        align-items: center;
        justify-content: center;

        .titulo {
            font-size: 50px;
            color: $darkPink;
            font-weight: bolder;
        }
    }

    
}


.titulo {
    font-size: 40px;
     color: $darkPink;
     font-weight: bolder;
}

.card {
    transition: .5s;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }


    .card-body{
        .card-title {
            font-size: 30px;
            color: $darkPink;
            font-weight: bolder;
            text-align: center;
        }
    
        i {
            color: $darkPink;
            font-size: 20px;
        }
    }
}
