.hero-cruceros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/hero-cruceros.webp");
  @include bgImg(100vh, center bottom, no-repeat, fixed, cover);

  .titulo-hero-cruceros {
    @include tittle(50px, bolder, map-get($colors, darkPink))
  }
}

.crucero {
  .nombre-crucero {
    border-bottom: 10px solid map-get($colors, darkPink);
    font-size: 50px;
  }
}

.proximamente {
  background-color: map-get($colors, lightPinkk);

  .titulo-proximamente {
    @include flex-center-center();

    .titulo {
      @include tittle(50px, bolder, map-get($colors, darkPink));
    }
  }
}

.titulo {
  @include tittle(40px, bolder, map-get($colors, darkPink));
}

.card {
  transition: .5s;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }

  .card-body {
    .card-title {
      @include tittle(30px, bolder, map-get($colors, darkPink));
      text-align: center;
    }

    i {
      @include tittle(20px, normal, map-get($colors, darkPink));
    }
  }
}
