.footer {
  background-color: map-get($colors , lightPinkk );
  border-top: 2px solid white;

  .links {
    h3 {
      @include tittle(30px, bolder, map-get($colors , darkPink ))
    }
    a {
      text-decoration: none;
      color: black;
      margin-bottom: 10px;
    }
  }

  .contactos {
    h3 {
      @include tittle(30px, bolder, map-get($colors , darkPink ))
    }

    i {
      font-size: 20px;
      color: map-get($colors , darkPink );
    }
  }

  .redes {
    .red {
      font-size: 20px;
      color: white;
      margin-bottom: 5px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: grid;
      place-content: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: 0.5s;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .suscripcion {

    h3 {
      @include tittle(30px, bolder, map-get($colors , darkPink ))
    }
    input {
      padding: 10px;
      border: 2px solid map-get($colors , darkPink );
      border-radius: 25px;
      outline: none;
      background-color: transparent;
    }

    button {
      width: 100px;
    }
  }

  .copyright {
    border-top: 2px solid map-get($colors , darkPink );
    padding-top: 20px;
    text-align: center;
  }
}

@each $redsocial, $color in $redes {
  .red-#{$redsocial} {
    background-color: $color;
  }
}
