// --------------HERO-----------
.mainImg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/images/hero-home.webp);
    @include bgImg (100vh, center, no-repeat, fixed, cover);
}
.hero-home {

  .titulo-main {
    @include tittle(70px, bolder, white);
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  p, button {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
}

// -------------- PORQUE NOSOTROS---------------
.nosotros {
  @include flex-center-center();

  .titulo-nosotros {
    h3 {
      border-bottom: 3px solid map-get($colors , darkPink );
      padding-bottom: 10px;
      @include tittle(30px, bolder, black);

      span {
        color: map-get($colors , darkPink );
      }
    }
  }

  .card-nosotros {
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    background-color: map-get($colors , darkPink );
    border: none;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transform: translateY(-10px);
    }

    .card-title-nosotros {
      @include tittle(25px, bolder, black);
      margin-top: 10px;
      text-align: center;
    }

    .card-nosotros-img {
      @include tamaño(70px, 70px)
    }
  }
}

// ---------------NUEVOS DESTINOS-------------

.nuevos-destinos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/images/nuevosDestinos.webp);
  @include bgImg(400px, center, no-repeat, fixed, cover);
  @include flex-center-center();
  
  h3 {
    @include tittle(30px, bolder, white);
  }
}

// --------------  OPINION CLIENTES ---------------

.opinion-clientes {
  background-color: #df928e;

  .card {
    @include tamaño(300px, 400px);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      transform: translateY(10px);
    }

    .texto {
      .comillas {
        @include tamaño(70px, 70px);
        @include tittle(70px, normal, map-get($colors , darkPink ));
        @include flex-center-center();
      }
    }

    .pie {
      display: flex;
      justify-content: space-between;

      .text {
        .nombre {
          @include tittle(20px, bolder, black)
        }

        .estrellas {
          @include tittle(20px, normal,  map-get($colors , darkPink ));

          span {
            color: black;
            padding-left: 10px;
          }
        }
      }

      img {
        @include tamaño(90px, 90px)
      }
    }
  }
}
// ANIMISTA
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}




  
  
