.main-btn {
    color: map-get($colors , darkPink );
    font-weight: bolder;
    border: 2px solid map-get($colors , darkPink );
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    transition: .5s;

    &:hover {
        background-color: map-get($colors , darkPink );
        color: white;
    }
}

.secondary-btn {
    color: white;
    font-weight: bolder;
    border: 2px solid map-get($colors , darkPink );
    padding: 10px 20px;
    border-radius: 25px;
    background-color: map-get($colors , darkPink );
    transition: .5s;

    &:hover {
        background-color: transparent;
        color: map-get($colors , darkPink );
    }
}