// ------------LOGIN-------------
.bg-login {
    background-color: map-get($colors , lightPinkk );
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    height: 100vh auto;
    background-color: map-get($colors,darkPink );
}

// ----------------SIGNUP----------------
.bg-signup {
    background-color: map-get($colors , lightPinkk );
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background: map-get($colors, darkPink);
    height: auto;
}
.img-signup {
    background-image: url(../assets/images/signup.jpg);
    @include bgImgCard();
}