.wrap-ofertas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/hero-ofertas.webp");
    @include bgImg (100vh, center, no-repeat, fixed, cover);

    .hero-ofertas {
        -webkit-animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-right-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .parrafo1 {
            letter-spacing: 3px;
        }

        p {
            font-size: 22px;
        }
        h2 {
            @include tittle(50px, bolder, white)
        }
        .oferta {
            border-radius: 5px;
            border: 2px solid map-get($colors , darkPink );
            background-color: map-get($colors , darkPink );
            display: inline-block;
            padding: 10px 20px;
        }
        .secondary-btn {
            font-size: 18px;
            letter-spacing: 1px;
            transition: .5s;

            &:hover {
                color: white;
            }
        }
    }
}

.bg {

    .mejores-ofertas {

        .titulo {
            @include tittle(40px, bolder,  map-get($colors , darkPink ))
        }
        .card {
            transition: .8s;
            &:hover {
                cursor: pointer;
                transform: translateY(-10px);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
            }
            .titulo {
                @include tittle(35px, bolder,  white);
                transition: .5s;

                &:hover {
                    color: map-get($colors , darkPink );
                }
            }
            .precio {
                @include tittle(25px, bolder,  white);
            }
        }
        .internet {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/internet.webp");
            @include bgImgCard();
        }
        .suite {
            @extend .internet;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/camarote-suite.webp");
        }
        .exterior {
            @extend .internet;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/camarote-exterior.webp");
        }
    }
}

.crucero-corto {
    @include flex-center-center();

    .titulo-crucero-corto {
        @include tittle(40px, bolder,  map-get($colors , darkPink ));
    }
}